* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body header header {
    width: 100%;
    height: 90.11111450195312px;
    opacity: 1;
    background-color: #F5F5F5;
    color: #60A2B8;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header header nav a {
    text-decoration: none;
    color: #60A2B8;
    font-size: 16px;
    line-height: 160%;
}

#name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name img {
    width: 90px;
    height: 60.07500076293945px;
    opacity: 1;
}

#name h5 {
    font-size: 24px;
    text-transform: uppercase;
    font-style: normal;
}

header header nav {
    display: flex;
    gap: 50px;
}

#social {
    display: flex;
    gap: 50px;
}

#social img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

header main {
    background: linear-gradient(180deg, #F5F5F5 0%, #60A2B8 100%);
    width: 100%;
    height: 810px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-main-div h1 {
    font-size: 48px;
}

.header-main-div p {
    font-size: 18px;
    margin-top: 50px;
    font-weight: 400;
}

.header-main-div button {
    width: 258.7186584472656px;
    height: 57.03194808959961px;
    opacity: 1;
    border: none;
    background-color: #195360;
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
}

#lemon {
    width: 10px;
    height: 10px;
    position: absolute;
    width: 169.72093200683594px;
    height: 161.22079467773438px;
    opacity: 1;
    top: 650px;
}

#main-dish {
    width: 669px;
    height: 526px;
    opacity: 1;
}

.header-main-div {
    width: 650px;
}

header footer {
    width: 95%;
    height: 465px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-footer-div {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-footer-div img {
    width: 100%;
    height: 402px;
    opacity: 1;
    margin-bottom: 20px;
}

.header-footer-div p {
    color: #404040;
    font-size: 24px;
}

body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main-head-div {
    width: 30%;
}

#main-head-div h2 {
    font-size: 40px;
    color: #7B3838;
    margin-bottom: 40px;
}

#main-head-div p {
    font-size: 16px;
    color: #404040;
    font-weight: 400;
}

#main-head-div button {
    width: 228.7382354736328px;
    height: 57px;
    opacity: 1;
    background-color: #195360;
    border: none;
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
}

main main {
    background-color: #195360;
    width: 100%;
    height: 900px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main main h1 {
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 54px;
}

#main-main-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-main-div-div:first-child {
    background-image: url(../images/foodboxes.jpg);
}

.main-main-div-div:nth-child(2) {
    background-image: url(../images/news.jpg);
}

.main-main-div-div:last-child {
    background-image: url(../images/holidays.jpg);
}

.main-main-div-div {
    width: 480px;
    height: 485px;
    opacity: 1;
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-main-div-div h3 {
    margin-top: 350px;
}

#main-main-div {
    display: flex;
    flex-direction: row;
}

#main-footer-div {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-footer-div h2 {
    color: #7B3838;
    font-size: 54px;
    margin-bottom: 50px;
}

#main-footer-div p {
    color: #404040;
    font-size: 18px;
    margin-bottom: 50px;
}

.main-footer-div-div-div {
    display: flex;
    flex-direction: row;
}

.chef-quality-propositions h4 {
    color: #5E5656;
    font-size: 24px;
}

.chef-quality-propositions p {
    color: #5E5656;
    font-size: 18px;
}

.chef-quality-propositions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.main-footer-div-div-div img {
    width: 50px;
    height: 50px;
    margin-top: 0;
}

main footer {
    display: flex;
    flex-direction: row;
}

main footer img {
    width: 1400px;
    height: 540px;
    opacity: 1;
    object-fit: cover;
    margin-right: 50px;
    margin-top: 50px;
}

footer header {
    background-color: #195360;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

footer header img {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.footer-head-div {
    margin-bottom: 80px;
}

.footer-head-div h3 {
    color: #60A2B8;
    font-size: 36px;
}

.footer-main-div-div-div img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.footer-main-div-div-div h4 {
    color: #7B3838;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

footer main {
    display: flex;
    flex-direction: row;
}

footer main img {
    object-fit: cover;
    width: 700px;
    height: 750px;
}

.footer-main-div-div {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

#footer-main-div h2 {
    color: #7B3838;
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#footer-main-div {
    justify-content: center;
    margin-left: 10px;
    margin-top: 50px;
}

#footer-main-div p {
    font-size: 18px;
    color: #404040;
    margin-bottom: 50px;
}

footer footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#all-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.footer-footer-div {
    width: 150px;
}

footer footer h1 {
    color: #404040;
    font-size: 36px;
    margin-bottom: 50px;
}

.line {
    width: 100px;
    height: 0;
    border: 1px solid #121212;
    border-radius: 5px;
    margin: 20px 0;
}